// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "libraries/bourbon/bourbon";
@import "libraries/neat/neat";
$large-screen: em(860) !default;
$main-color: #a169aa;
$white: #fff;
$dark-gray: #333;
$font-color: transparentize($dark-gray, 0.3) !default;
$alert-text: #a94442;
$alert-background: #f2dede;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

p, li {
  font-family: 'Merriweather', serif;
}

//Nav Styles
header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  //$navigation-background: $dark-gray;
  $navigation-background: white;
  $navigation-color: transparentize($dark-gray, 0.3);
  $navigation-color-hover: $dark-gray;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-active-link-color: transparentize(white, 0.5);
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  //border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;


  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
    background-color: transparentize($dark-gray, 1);

  }

  .logo {
    float: left;
    max-height: $navigation-height;
    color: $white;
    font-weight: bold;
    font-size: 1.25em;
    padding: 1em 0 1em 1em;

    @include media ($large-screen) {
      padding-left: 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $white;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    //&:focus,
    //&:hover {
    //  color: $navigation-color-hover;
    //  color: $main-color;
    //}
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    //z-index: 9999999;
    font-size: 1.25em;
    //margin-top: 0.4em;
    right: 0;
    left: 0;
    position: absolute;
    margin: 3em 2em;
    border-radius: 2%;

    @include media ($horizontal-bar-mode) {
      float: right;
      position: inherit;
      margin: 0;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  li {

  }

  ul li.nav-link {
    background: $main-color;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    border-bottom: 1px solid #000;
    text-align: center;
    font-weight: bold;

    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      border-bottom: none;
      text-align: right;
      width: auto;
    }

    a {
      color: $white;
      display: inline-block;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        //color: $navigation-color-hover;
        color: $main-color;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }
}
body {
  margin: 0;
}

//Hero styles
.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-gradient: rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3);
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '/assets/img/hero_desk.jpg';

  @include background(linear-gradient($hero-gradient), url($hero-image));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
  margin-top: -3.75em;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    text-align: center;

    .hero-copy {
      text-align: center;
      padding: 6em 1em;
    }

      p {
        color: $hero-color;
        line-height: 1.4em;
        font-size: 1.2em;

      }
  }

  @include media($large-screen) {
    @include background(linear-gradient($hero-gradient), url($hero-image), fixed no-repeat $hero-background-top center center);
    background-color: #324766;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 3em;
    background: contain;

    background-attachment: fixed;
    height: 100vh;
    z-index: -100;

    .hero-inner {
      @include outer-container;
      @include clearfix;
      margin: auto;
      padding: 3.5em;
      text-align: center;

      .hero-copy {
        text-align: center;
        margin-top: 15em;
        padding: 0;

        p {
          font-size: 2.0em;
          max-width: 60%;
          margin: 0 auto 3em auto;
        }
      }
    }
  }

  //.hero-logo img {
  //  height: 4em;
  //  margin-bottom: 1em;
  //}


}

//Body
.main-container {
  @include outer-container;

  hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.3), rgba(0, 0, 0, 0));
  }

  //Project samples section
  .project {
    $base-line-height: 1.5em !default;
    $action-color: #477DCA !default;
    $large-screen: em(860) !default;
    $side-image-border: 1px solid;
    $h2-size: 2em;
    $dark-gray: #333;
    $font-color: transparentize($dark-gray, 0.3) !default;

    @include outer-container;
    padding: 2em 0;

    //icons
    .fa {
      color: $main-color;
    }

    .font-icon {
      margin: 0.25em 0.25em 0;
    }

    @include media($large-screen) {
      padding: 6em 0;
      .font-icon {
        margin-top: 0.5em;
      }
      .icons {
        @include span-columns(10 of 12);
        @include shift(1 of 12);
        text-align: center;
      }
    }

    .project-img {
      display: block;
      border-radius: 2%;
      border: $side-image-border;
      @include span-columns(8);
      @include shift(2);

      @include media($large-screen) {
        @include span-columns(4);
        @include shift(1);
      }
    }

    .project-content {
      @include outer-container;
      @include span-columns(10);
      @include shift(1);
      text-align: center;

      @include media($large-screen) {
        @include span-columns(5);
        @include shift(1);
        text-align: inherit;
      }

      h2 {
        margin-bottom: 0.9em;
        font-size: $h2-size;
        font-weight: 800;
      }

      p {
        line-height: $base-line-height;
        margin-bottom: 1em;
        color: $font-color;
      }
    }
  }

  //Contact Form
  .contact {
    $large-screen: em(860) !default;
    $dark-gray: #333;
    $form-background: transparentize($dark-gray, 0.9) !default;
    $btn-color: transparentize($dark-gray, 0.3) !default;
    $h2-size: 2em;

    @include outer-container;

    .contact-content {
      text-align: center;
      margin: 1em 0;

      h2 {
        font-size: $h2-size;
        font-weight: bold;
        margin-bottom: 0.5em;
      }

      p {
        line-height: 1.5em;
        margin-bottom: 1em;
        color: $font-color;
      }

      .icons {
        display: none;
        margin: 0.25em;

        @include media($large-screen) {
          display: inline-block;
          .fa {
            color: $main-color;
          }

          .font-icon {
            margin: 0em 0.25em;
          }
        }
      }
    }

    @include media($large-screen) {
      padding: 6em 0;

      .contact-content {
        @include span-columns(3 of 12);
        @include shift(1);
      }
    }

    .contact-form {

      margin: 2em 1em;

      @include media($large-screen) {
        margin: 1em 0;
        @include span-columns(6 of 12);
        @include shift(1);


        .form-group-top {
          width: 100%;
          @include outer-container;

          input[type=text] {
            display: inline-block;
            width: 50%;
            @include span-columns(6 of 12);
          }
        }
      }

      input[type=text] {
        width: 100%;
      }

      input[type=text], textarea {
        padding: 1em 2em;
        margin: 0 1.5em 1em 0;
        border: none;
        background: $form-background;
        font-weight: 600;
        border-radius: 2%;
      }

      textarea {
        resize: none;
        width: 100%;
      }

      .form-group-btn {
        width: 100%;
        @include outer-container;

        .btn {
          color: $main-color;
          background-color: $white;
          border: 2px solid $main-color;
          text-align: center;
          font-weight: bold;
          padding: 1em 2em;
          border-radius: 5%;
          cursor: pointer;
          @include span-columns(4 of 12);
          @include shift(4);

          @include media($large-screen) {
            @include shift(8);
          }
        }
      }

      .alert {
        color: $alert-text;
        background-color: $alert-background;
        margin-top: 1em;
        border-radius: 0.25em;
        ul {
          padding: 1em;
        }
        li {
          padding: 0.25em 0;
        }
      }

    }
  }
}

.project:last-child {
  border-bottom: none;
}

//Tech tags
$badge-font-size: 0.75em !default;
//$badge-color: #f04 !default;
$dark-gray: #333;
$badge-color: transparentize($dark-gray, 0.3) !default;

@mixin badge($color: $main-color) {
  background-color: $color;
  color: $white;
  border-radius: 0.5em;
  display: inline-block;
  font-size: $badge-font-size;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.tech li {
  @include badge;
  margin-top: 0.5em;
}

@include media($large-screen) {
  .tech {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
    text-align: center;
  }
}

//Footer
.footer {
  $base-spacing: 1.5em !default;
  $dark-gray: #333;
  $footer-background: transparentize($dark-gray, 0.3) !default;
  $footer-color: $white;

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
  }

  ul li {
    list-style: none;
  }

  .footer-social {
    display: block;
    text-align: center;

    li {
      display: inline-block;
    }

    @include media($large-screen) {
      display: none;
    }
  }

  img {
    height: 2.5em;
    margin: 0 0.5em;
  }

  .fa {
    color: $white;
    margin: 0 0.5em;
  }

  .copyright {
    text-align: center;
    color: $footer-color;
  }
}



































